GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=
FRONTEND_DOMAIN=
FRONTEND_URL=
PORT=8080
BACKEND_URL=
VITE_BACKEND_URL=
GOOGLE_USERINFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
CORS_ALLOWED_ORIGINS=

MARIADB_HOST=localhost
MARIADB_PORT=3306
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_ROOT_PASSWORD=

VITE_ENVIRONMENT=PROD
VITE_STAGING_PASSWORD=

DOMAIN=
SSL_EMAIL=